.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#root
/.idea/

#front_end
/front_end/time_manager/.idea
/front_end/time_manager/node_modules
/front_end/time_manager/package-lock.json

#back_end
/back_end/apiTimeManager/.idea